
.contenedor-principal {
    left: 15vw;
    width: 70vw;
}

.contenedor-registrarse {
    flex-direction: row;
}

.contenedor-titulo a {
    font-size: 6rem;
}
.contenedor-titulo a span {
    width: 4rem;
    height: 4rem;
}
.contenedor-login h1 {
    font-size: 3rem;
}
