:root {
    --white: white;
    --light: #f2f2f2;
    --primary: #348e91;
    --secondary: #1c5052;
    --base: #213635;
    --dark: #0a0c0d;

    --backgroundmask: rgba(142, 251, 255, 0.5);
    --volante: url(../iconos/volanteblanco.png);
    --user: url(../iconos/usuariolight.png);
    --pass: url(../iconos/contralight.png);

}
.body-darkMode {
    --white: black;
    --light: #0a0c0d;
    --primary: #348e91;
    --secondary: #348e91;
    --base: #f2f2f2;
    --dark: white;

    --backgroundmask: rgba(3, 23, 23, 0.5);
    --volante: url(../iconos/volantenegro.png);
    --user: url(../iconos/usuarionegro.png);
    --pass: url(../iconos/contranegro.png);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.fondo {
    width: 100vw;
    height: 100vh;
    background-image: url(../iconos/calles2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgroundmask); 
    opacity: 0.7;
    pointer-events: none;
}
.contenedor-principal {
    position: absolute;
    left: 5vw;
    top: calc((100vh / 2) - 25rem);
    width: 90vw;
    height: 50rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}
.contenedor-titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);

}
.contenedor-titulo a {
    padding: 20px 0;
    color: var(--white);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    text-decoration: none;
    /* letter-spacing: 0.5rem; */
    z-index: 1;
}

.contenedor-titulo a span {
    width: 2.6rem;
    height: 2.6rem;
    /* margin-right: 0.3rem; */
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--volante);
}
.division {
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
    width: 120px;
    height: 500px;
    background: linear-gradient(103deg, var(--secondary) 50%, var(--light) 50%);
    display: none;
}

.contenedor-login {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-login h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark);
    margin-bottom: 20px;
    text-align: center;
}

.contenedor-input {
    height: 4rem;
    width: 90%;
    margin: 10px;
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    overflow: hidden;
}
.contenedor-input span {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contenedor-input .img-usuario {
    background-image: var(--user);
}
.contenedor-input .img-contra {
    background-image: var(--pass);
}
.contenedor-input input {
    width: 100%;
    background-color: var(--light);
    color: var(--dark);
    border: none;
    font-size: 2.2rem;
    line-height: 4rem;
    padding-left: 10px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.contenedor-input input:focus {
    outline: none;
}
.btn-enviar {
    border-radius: 0.5rem;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 20px;
    width: 90%;
    margin-top: 10px;
    cursor: pointer;
}
.btn-enviar:hover {
    background-color: var(--secondary);
    color: var(--white);
}
.contenedor-registrarse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.contenedor-registrarse p {
    font-size: 1.8rem;
    margin-right: 0.3rem;
    color: var(--dark);
}
.btn-secundario {
    border-radius: 0.5rem;
    border: none;
    background-color: var(--light);
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}
.btn-secundario:hover {
    color: var(--secondary);
}
.login-error {
    max-width: 300px;
    color: rgb(165, 0, 0);
    font-size: 2rem;
    text-align: center;
}
.invisible {
    display: none;
}