/* :root {
    --light: #f2f2f2;
    --primary: #348e91;
    --secondary: #1c5052;
    --base: #213635;
    --dark: #0a0c0d;

    --backgroundmask: rgba(142, 251, 255, 0.5);


    --white: black;
    --light: #0a0c0d;
    --primary: #348e91;
    --secondary: #348e91;
    --base: #f2f2f2;
    --dark: white;

    --backgroundmask: rgba(3, 23, 23, 0.5);
} */

.contenedor-principal {
    flex-direction: row;
}
.contenedor-titulo {
    width: 50%;
}
.contenedor-titulo a {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.95,-0.87,.52,1.29);
    cursor: pointer;

}
.contenedor-titulo a span {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.95,-0.87,.52,1.29);

}
.contenedor-titulo a:hover {
    transform: scale(1.1) translateX(5px);
}
.contenedor-titulo a:hover span {
    transform: rotate(360deg);

}


.division {
    display: block;
}

.contenedor-login {
    width: 50%;
}
.contenedor-login h1 {
    max-width: 80%;
    text-align: center;
}
.contenedor-input {
    width: 50%;
}

.btn-enviar {
    width: 50%;
}

